@main-color: #2a80eb;
@gray-color: #9facba;
@text-color: #4c5161;
@border-color: #ebebeb;

body {
    margin: 0;
    color: @text-color;
}

a {
    text-decoration: none;
    color: @text-color;
}

.dodo-site {
    display: grid;
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    grid-template-rows: 60px auto 60px;
    grid-template-columns: 200px auto;
    grid-template-areas: 'header header' 'aside main' 'aside footer';

    .dodo-header {
        grid-area: header;
    }

    .dodo-aside {
        grid-area: aside;
    }

    .dodo-main {
        grid-area: main;
    }

    .dodo-footer {
        grid-area: footer;
    }
}


//header--------------------------------------------
.dodo-header {
    padding: 0 12px;
    box-shadow: 0 2px 8px #f0f1f2, inset 0 -1px #f0f1f2;
    display: flex;
    align-items: center;

    .title {
        color: @main-color;
        flex: 1;
    }

    .source {
        height: 30px;
        line-height: 30px;
        margin-right: 16px;
        cursor: pointer;
    }

    .avatar {
        width: 30px;
        border-radius: 15px;
    }
}

////main--------------------------------------------
.dodo-main {
    padding: 12px;

    .doc-demo {
        border: solid 1px @border-color;
        border-radius: 4px;
        padding: 8px;
        transition: all 320ms;
    }

    .doc-demo:hover {
        box-shadow: 0 0 8px 0 rgba(159, 172, 186, 0.53), 0 2px 4px 0 rgba(159, 172, 186, 0.47843137254901963);
    }

    .demoComponent {
        padding: 8px 0;
        border-bottom: solid 1px #e2e5f2;
    }

    .demoCode {
        display: flex;
        font-size: 16px;

        pre {
            padding: 8px;
        }
    }

    .demoCode::after {
        content: '';
        display: block;
        flex: 1;
    }

    .codePanel {
        position: relative;
        width: 100%;
        min-height: 32px;

        > pre {
            max-height: 0;
            overflow: hidden;
            visibility: hidden;
            margin: 0;
            transition: visibility 160ms, max-height 160ms;
            //transition: all 480ms ease-in-out;
        }

        .codeVisible {
            color: #9facba;
            position: absolute;
            line-height: 32px;
            bottom: 0;
            width: 100%;
            text-align: center;
            cursor: pointer;
        }
    }

    .codePanel.expand {
        > pre {
            max-height: 1000px;
            visibility: visible;
        }
    }
    .doc-attributes {
        margin: 10px 0  ;
    }

}

//
.dodo-aside {
    //border-right: solid 1px @main-color;
    overflow: auto;
    overscroll-behavior: contain;
    //box-shadow: 0 2px 8px #f0f1f2, inset 0 -1px #f0f1f2;
    box-shadow: 3px 0 7px 0 #e2e5f2, inset 0 -1px #f0f1f2;

    .navList {
        dd {
            margin: 0;
        }

        dt {
            padding: 8px;
            color: @gray-color;
        }

        .menuItem {
            padding: 8px 8px 8px 8px;
            display: block;
            transition: all 320ms;

            &.active {
                background-color: @main-color;
                color: #fff;

            }
            &:hover {
                background-color: #ecf5ff;
            }
            &.active:hover {
                background-color: @main-color;
            }
        }

    }
;
}

//
////footer--------------------------------------------
.dodo-footer {
    padding: 12px;
}

.doc-example {
    .doc-header {
        margin-bottom: 20px;

        .doc-title {
            margin: 0;
            font-size: 18px;
        }

        p {
            margin: 0;
        }
    }

    .doc-use {
        .doc-tip {
            font-weight: bold;
            margin-bottom: 12px;
        }
        .doc-exampleItem {
            margin: 10px;
        }
    }

}
